*{
	margin: 0;
	box-sizing: border-box;
}

.item{
	background-color: cornflowerblue;
	border: 2px solid #000;
}

.margin{
	padding: 20px;
}

.container{
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 1fr 750px 370px 1fr;
	grid-auto-rows: auto auto auto auto;
	grid-template-areas:
	'hd hd hd hd'
	'. fd sd .'
	'. main sd .'
	'ft ft ft ft' ;
}

.image{
	grid-column: hd-start / hd-end;
	grid-row: hd-start / fd-end;
	position: relative;
}

.img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.img{
	z-index: -1;
}

.header{
	grid-area: hd;
}

.featured{
	grid-area: fd;
}

.sidebar{
	grid-area: sd;
}

.sidebar_text{
	position: sticky;
	top: 0;
}

.content{
	grid-area: main;
}

.footer{
	grid-area: ft;
}
